.AllPics {
    display: inline-block;
}

.Pic {
    width: 150px;
    background-color: lightgray;
    border-radius: 15px;
    padding: .1em;
    margin: .1em;
}

.Selected {
        width: 150px;
        background-color: rosybrown;
        border-radius: 15px;
        padding: .1em;
        margin: .1em;
        opacity: .4;
}

.MuiSvgIcon-root {
    margin-right: -25px;
}